/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@import "./vars.scss";



// Project global stylizations

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $base-font-family;

}


body {
    &::-webkit-scrollbar {
        width: 8px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-gray;
        border-radius: 20px;
    }

    @media print {

        .container-default-header {
            display: none;
        }
    }

    

}


    // Pages

    @import "./pages/CardsIssued/index.scss";
    @import "./pages/Home/index.scss";
    @import "./pages/Login/index.scss";
    @import "./pages/ProductionReport/index.scss";
    @import "./pages/Stock/index.scss";
    @import "./pages/Users/index.scss";

    // Components

    @import "./components/shared/Input/index.scss";
    @import "./components/shared/Button/index.scss";
    @import "./components/shared/Table/index.scss";
    @import "./components/shared/Select/index.scss";
    @import "./components/layout/NavBarClient/index.scss";
    @import "./components/layout/DefaultHeader/index.scss";
    @import "./components/layout/DownloadFacilitators/index.scss";
    @import "./components/layout/ModalUsers/index.scss";