header {
    background-color: $color-client;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 72px;

    .image-logo-client-white {
        margin-left: 70px;
    }

    nav {
        width: 100%;
        margin-right: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;

        .icon{
            color: $color-white;
            font-size: 35px;
            cursor: pointer;
        }
        ul {
            display: flex;
            list-style: none;
            justify-content: end;
            gap: 64px;

            li {

                font-weight: $font-semibold;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: $color-white;
                }
            }

            li:hover {
                cursor: pointer;
                border-bottom: 3px solid $color-white;
                transition: all 0.1s;
                transform: scale(1.1);
                margin-top: -3px;
            }
        }
    }

    @media(max-width: $breakpoint-laptop ) {
        nav {

            

            .nav-list {
                position: absolute;
                top: 9vh;
                height: 50vh;
                width: max-content;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                transform: translate(150%);

                padding: 16px;
                border-radius: 8px;
                margin-right: 32px;

                li {
                    margin-right: 0px;
                    

                    a {
                        color: $color-black;
                    }

                }
            }

            .nav-list.active {
                transform: translateX(0);
            }

        }


    }
}