.container-stock {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: clamp(1.25rem, 6vw, 4.375rem);
    padding-right: clamp(1.25rem, 6vw, 4.375rem);
    

    .inputs-info-products {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 32px;
    }
    @media (max-width: $breakpoint-medium) {
        .inputs-info-products {
            flex-direction: column;
            align-items: center;
            margin-top: 17px;
        }
    }
}