.container-page-home {




    .image-logo-up {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 64px;
    }


    .container-table {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 72px;


        .table {
            width: 936px;
           
            border: 2px solid $color-black;
            border-radius: 8px;

            .title-table {
                h3 {
                    text-align: center;
                    border-bottom: 2px solid $color-black;
                    padding: 8px;
                }
            }

            .container-column-table {

                span {
                    font-weight: $font-semibold;
                }
                .title-column {
                    display: flex;
                    justify-content: space-between;
                    padding: 16px;
                    border-bottom: 2px solid $color-black;

                    
                }

                .rows-table{
                    display: flex;
                    justify-content: space-between;
                    margin: 16px;
                    
                }
            }
        }
    }
}