.container-page-login{
   background-color: $color-gray;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;

   .container-login{
        width: 1080px;
        height: 704px;
        background-color: $color-white;
        border-radius: 16px;
        display: flex;

        .container-style-uptechnology{
               width: 540px;
               height: 672px; 
               background-color: $color-faint-gray;
               border-radius: 16px;
               margin: 16px;

               .image-logo-up{
                    display: flex;
                    justify-content: center;
                    margin-top: 16px;
               }

               .greetings-up{
                    margin-top: 42px;
                    p{
                        text-align: center;
                        color: $color-blue;
                        font-weight: $font-semibold;
                    }
               }

               .image-user-login{
                    display: flex;
                    justify-content: center;
                    margin-top: 22px;
               }

        }

        .container-style-client{
            width: 540px;
            height: 672px;
            margin: 16px;

            .image-logo-client{
                display: flex;
                justify-content: center;
                margin-top: 16px;
            }

            h1 , p {
                text-align: center;
                color: $color-client;
            }

            h1{
                margin-top: 58px;
                margin-bottom: 24px;
            }

            .container-inputs-login{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 48px;
                gap: 32px;

                .button{
                    margin-top: 32px;
                }
            }

        }
   }
}