.container-download-facilitators-search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    margin-top: 72px;
    margin-bottom: 32px;
    display: flex;


    .download-facilitators {
        display: flex;
        gap: 16px;

        .container-icon {
            width: 45px;
            height: 45px;
            background-color: $color-gray;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 100%;

            .icon {
                color: $color-client;
                font-size: 30px;
            }
        }

        .container-icon:hover {
            scale: (1.09);
        }
    }
}