.button{
    width: 140px;
    height: 41px;
    border-radius: 16px;
    background-color: $color-client;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $font-semibold; 
    
    cursor: pointer;

    &.button-edit{
        background-color: $color-blue;
    }

    &.button-add-user{
        background-color: $color-green;
    }
}