.container-table {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: $font-semibold;

    h2 {
        border: solid 2px $color-black;
        width: clamp(20rem, 90vw, 87.5rem);
        text-align: center;
        margin-bottom: -0, 5px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        font-size: clamp(1.18rem, 2vw, 1.4rem);
    }


    .sc-dmsloy {
        width: clamp(20rem, 90vw, 87.5rem);
        border: solid 2px $color-black;
        border-top: hidden;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        max-height: 650px;

        &::-webkit-scrollbar {
            width: 8px;
            height: 10px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color-gray;
            border-radius: 20px;
        }

        .rdt_TableHeadRow {
            font-size: clamp(1.0rem, 2vw, 1.15rem);
            font-weight: $font-semibold;
            text-align: center;
            width: 100%;

            .sc-cseZMA {
                display: flex;
                align-items: center;
                justify-content: center;

                .sc-kDLnty {
                    opacity: 1;
                }
            }
        }

        .rdt_TableRow {
            font-size: 16px;
            font-weight: $font-semibold;

        }

        .sc-jqNall {
            .sc-hLljAB {
                div {
                    width: 290px;
                    text-align: center;
                    white-space: normal;
                    padding: 10px;
                    font-size: clamp(0.875rem  , 2vw  , 1rem);
                    
                }
            }

        }

    }
}