.container-titular{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-dates-doubles{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
}