.container-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72px;


    .table {
        max-width: 836px;
        margin-bottom: 300px;
        border: 2px solid $color-black;
        border-radius: 8px;
        

        .title-table {
            h3 {
                text-align: center;
                border-bottom: 2px solid $color-black;
                padding: 8px;
            }
        }

        .container-column-table {
            overflow-x: scroll;
            max-width: 1000px;
               
            span {
                font-weight: $font-semibold;
            }

            .title-column {
                display: flex;
                justify-content: space-between;
                padding: 16px;
                border-bottom: 2px solid $color-black;

                span {
                    width: 200px;

                    text-align: center;
                }

            }

            .container-rows-table {
                overflow-x: scroll;
                max-height: 400px;
                
                
                

                &::-webkit-scrollbar {
                    width: 8px;
                }
                
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
        
                &::-webkit-scrollbar-thumb {
                    background-color: $color-gray;
                    border-radius: 20px;
                }
                

                .rows-table {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 16px;
                    border-bottom: 2px solid $color-black;
                    /* resp */
                    width: 100%;
                    


                    span {
                        width: 200px;
                        text-align: center;
                        word-wrap: break-word;
                    }
                }
            }

        }


    }
}